# /lib/systemd/system/brew.service
[Unit]
Description=Brew server
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/dev/brew_server/run.sh 

[Install]
WantedBy=multi-user.target
